<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Hi {{user}}</p>
    <p>I hope this email finds you well! We are excited to inform you about an
      excellent job opportunity for the position of
      {{jobProfile}}
      at
      {{company}}.</p>
    <h4>If you're interested, please let us know by replying to this email with
      your resume on this mail-Id <a>{{recuiterEmail}}</a></h4>
    <p>Feel free to reach out if you have any questions or would like to learn
      more about this position.</p>
    <p>We look forward to hearing from you!</p>

    <h4>Best regards,</h4>
    <p>HR Team, {{company}}</p>
  </body>
</html>